body
{
background-color:#66CCFF;
}
.field
{
	color:pink;
	
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 18px;
	background: #F7F7F7;
}

label
{
box-sizing: border-box;
color:black;
font:bold;
font-size:12px;
border:hidden;

font-style:inherit;
display: block;
	margin: 0px 0px 15px 0px;
} 
 
input[type=text]{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	
}


input[type=password], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel], select {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 300px;
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* unvisited link */
a:link {
    color: purple;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: green;
}